form {
  width:80%;
  margin: 20px auto;
}
#marForm{
  width:80%;
  margin: 40px auto;	
}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:100%;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:100%;
  min-height:150px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;
  padding: 10px 10px 10px 10px;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}
input[type=submit] {
  background:none;
  padding:10px;
}
input[type=submit]:hover {
  color:#FFF;
  background:#ff4601;
  padding:10px;
}