/*Sliding Text and Icon Menu Style*/
@font-face {
	font-family: 'BernSans';
	src:url(../fonts/BernSansCT-Regular_0.otf);
}
@font-face {
	font-family: 'WireOne';
	src:url(../fonts/WireOne.ttf);
}
.sti-menu{
	width:120px;
	position:relative;
	margin:50px auto 0 auto;
}
.sti-menu li{
	float:left;
	width:120px;
	height:120px;
	margin-top: 20px;
}
.sti-menu li a{
	display:block;
	overflow:hidden;
	background:#fff;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
}
.sti-menu li a h2{
	color:#000;
	font-family: 'WireOne'; 
	font-size:30px;
	font-weight: bold;
	text-transform:uppercase;
	position:absolute;
	width:100px;
	text-shadow: 0px 1px 1px black;
	margin: 50px 10px;
}
.sti-icon{
	width:100px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:50px;
	top:30px;
}
